img {
  max-width: 100%;
  border-radius: 1px;
}
.img-raised {
  box-shadow: $box-shadow-raised;
  transition: 0.3s;
  &:hover {
    box-shadow: $box-shadow-raised-hover;
    transition: 0.3s;
    filter: brightness(50%);
  }
}
.projectWrapper {
  position: relative;
  margin-bottom: 30px;
  transition: 0.3s;
  &:hover {
    transform: translate(0px, -10px);
    transition: 0.3s;
  }
}
.projectTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.85;
  background-color: #0095fe;
  color: white;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 5px;
}
.projectButton {
  position: absolute;
  background: #0095fe;
  font-size: 1.25rem;
  font-weight: 550;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s ease 0s;
}
.projectWrapper:hover > .projectButton {
  opacity: 1;
  transform: translateY(225%);
  transition: opacity 0.3s, transform 0.3s ease 0s;
}
